#cloud-config
user:
    - name: terraform_guest
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/terraform_guest
    shell: /bin/bash
    ssh_authorized_keys:
        - ${file("~/.ssh/id_rsa.pub")}

packages:
    - qemu-guest-agent
    - git