<html>
<head>
    <title>Giropops Strigus Girus</title>
<body>
    <h1>DESCOMPLICANDO O ANSIBLE - 2020</h1>
    <h2> Esse aqui é o meu ip da eth0: {{ ansible_facts.eth0.ipv4.address }} </h2>
    <h2> Esse aqui é o meu ip da eth1: {{ ansible_facts.eth1.ipv4.address }} </h2>
    </body>
</head>
</html>